

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      SIGN UP FOR FREE!
    </ion-card-header>
    <ion-card-content>
        <div padding>
        <ion-segment [(ngModel)]="type" color="danger" name="type">
          <ion-segment-button value="user" >
            User
          </ion-segment-button>
          <ion-segment-button value="ngo" >
            Blood Bank
          </ion-segment-button>
        </ion-segment>
        </div>
        <div [ngSwitch]="type">
          <div *ngSwitchCase="'user'" >
             <ion-row>
             <ion-col>
             <p><b>Username</b></p>
             </ion-col>
             <ion-col>
             <p><b>City</b></p>
             </ion-col>
             <ion-col>
             <p><b>Liters</b></p>
             </ion-col>
             <ion-col>
             <p><b>Type</b></p>
             </ion-col>
             </ion-row>
             <div *ngFor=" let item of data">
             <ion-row>
             <ion-col>
             <p>{{item.username}}</p>
             </ion-col>
             <ion-col>
             <p>{{item.city}}</p>
             </ion-col>
             <ion-col>
             <p>{{item.liters}}</p>
             </ion-col>
             <ion-col>
             <p>{{item.type}}</p>
             </ion-col>
             </ion-row>
             </div>
          </div>
          <div *ngSwitchCase="'ngo'" >
             <ion-row>
             <ion-col>
             <p><b>Username</b></p>
             </ion-col>
             <ion-col>
             <p><b>A+</b></p>
             </ion-col>
             <ion-col>
             <p><b>B+</b></p>
             </ion-col>
             <ion-col>
             <p><b>O+</b></p>
             </ion-col>
             <ion-col>
             <p><b>City</b></p>
             </ion-col>
             </ion-row>
             <div *ngFor=" let ite of data2">
             <ion-row>
             <ion-col>
             <p>{{ite.username}}</p>
             </ion-col>
             <ion-col>
             <p>{{ite.a}}</p>
             </ion-col>
             <ion-col>
             <p>{{ite.b}}</p>
             </ion-col>
             <ion-col>
             <p>{{ite.o}}</p>
             </ion-col>
             <ion-col>
             <p>{{ite.city}}</p>
             </ion-col>
             </ion-row>
             </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
 <!--<div *ngFor=" let item of data">
  <ion-row>
    <ion-col>
    <p>{{item.city}}</p>
    </ion-col>
    <ion-col>
      <p>{{item.liters}}</p>
    </ion-col>
    <ion-col>
      <p>{{item.type}}</p>
    </ion-col>
  </ion-row>
  </div>-->

</ion-content>
